.wrapper {
  background-color: var(--black);
}

.img-shop {
  height: 100vh;
  background-image: url("https://static.tumblr.com/itio7rr/TgUoqg0v5/shop-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.content {
  max-width: 50%;
  position: absolute;
  left: 20%;
  top: 50%;
}

.title {
  font-size: 64px;
  line-height: 102px;
  color: var(--primary);
  font-weight: bold;
}

.description {
  color: var(--white);
  margin-bottom: 20px;
}

.btn-dog{
  margin-right: 16px;
}