@import "normalize.css";

:root {
  --primary: #fcb000;
  --black: #000;
  --white: #fff;
  --text-color: #0a0a0a;

  // default-font-family
  --font-family: "Quicksand", sans-serif;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content
  }
};

@mixin tablet {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobileTablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// scrollbar CSS

::-webkit-scrollbar {
  border-radius: 20px;
  height: 1px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #260bbe54;
}

// styles web
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  color: var(--text-color);
  overflow-y: overlay;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
}
