.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 30px;
    margin: 0 16%;
}

.Item{
    padding: 20px 10px;
}

.img-pet{
    width: 260px;
    height: 260px;
    border-radius: 18px;
}

.label{
    text-align: center;
}