.wrapper {
  padding-top: 30px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  font-size: 26px;
  font-weight: 700;
  list-style: 34px;

  .title-dog {
    margin: 0 15px;
  }

  span {
    width: 60px;
    background-color: var(--primary);
    height: 3px;
  }
}

.description {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

  span {
    display: inline-block;
    width: 48%;
    color: #0000ffb7;
  }
}

.btn-page {
  border: none;
  padding: 2px 10px;
  margin-right: 12px;
  text-decoration: underline;

  &:hover {
    background-color: #ccc;
  }
}

.btn-more{
  
  &:hover{
    padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  }
}