@import "../../components/GlobalStyles/GlobalStyles.scss";

.wrapper {
    display: flex;
  margin: 10px 24px;
}

.image-pet {
  width: 50%;
  object-fit: cover;

  @include mobileTablet {
    width: 100%;
  }
}

.content {
    width: 50%;
    margin: 0 10px;
}

.header {
  font-size: 3.2rem;
}
