.wrapper {
  text-align: center;
}

.search-manager{
  width: 500px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 6px 16px;
  outline: none;
}

.image-pet {
  width: 200px;
}
