.wrapper{
    text-align: center;
    margin: 32px;
}

.header{
    margin: 14px 0;
}

.avatar{
    height: 700px;
    width: 700px;
    border-radius: 50%;
    object-fit: cover;
}

.username{
    margin: 14px 00;
}
