.wrapper{
    display: flex;
    flex-direction: column;
    width: calc(100% + 25px);
    min-height: 60px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: #0000004d 0px 2px 12px;
}