.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: #0000004d 0px 2px 12px;
}