.wrapper {
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0 8%;
}

.headerMenu{
  text-align: center;
}

.logo-web {
  width: 200px;
  height: 84px;
  margin-right: 30px;
}
.language {
  display: inline-flex;
  line-height: 2.6rem;
  margin-left: 12%;
  font-size: 14px;
  font-weight: 700;

  & span {
    display: inline-flex;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 10px;
  }

  & img {
    height: 24px;
    width: 24px;
  }
}


.auth{ 
  margin-left: 26px;

  .avatar{
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 30px;
  }

  .login{
    margin-right: 10px;
  }
}

.item {
  border: none;
  min-width: 140px;
  padding: 10px 5px 10px 10px;
  
  &:hover{
    width: 100%;
    background-color: var(--primary);
  }
}