.wrapper {
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0 8%;
}

.logo-web {
  width: 200px;
  height: 84px;
  margin-right: 30px;
}
.language {
  display: inline-flex;
  line-height: 2.6rem;
  margin-left: 12%;
  font-size: 14px;
  font-weight: 700;

  & span {
    display: inline-flex;
    cursor: pointer;
    padding: 10px 0;
    margin-right: 10px;
  }

  & img {
    height: 24px;
    width: 24px;
  }
}


.auth{

  
  .login{
    margin-right: 10px;
  }
}