.wrapper {
  margin: 40px 0;
}

.form-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-form {
  width: 50%;
  height: 42px;
  color: rgba(51, 51, 51, 0.7333333333);
  font-size: 1.4rem;
  padding: 0px 18px;
  margin: 12px 0;
  border: 2px solid var(--primary);
  border-radius: 30px;

  &:focus {
    outline: none;
  }
}

.btn-add {
  width: 50%;
  margin-top: 18px;
}
