.manager {
  display: flex;
}
.image-pet {
  width: 200px;
}

.ranger{
  color: red !important;
}

.btn-page{
  border: none;
  padding: 2px 10px;
  margin-right: 12px;

  &:hover{
    background-color: #ccc;
  }
}